@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, AuthoringTagHelpers
    @inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<environment names="PackmanEnv">*@
    @*@RenderSection("PackmanJS", required: false)*@
    @*</environment>*@
</head>
<body>
    <div>

        @RenderBody()

        @if (IsSectionDefined("PackmanJS"))
        {
            @RenderSection("PackmanJS")
        }

        @*<environment names="PackmanEnv">*@

        @*, required: false)*@
        @*</environment>*@
        @*@if (_env.EnvironmentName == "PackmanEnv" )
            //&& IsSectionDefined("PackmanJS"))
            {
                IgnoreSection("PackmanJS");
            }*@
    </div>

    <div>
        <a asp-controller="Login" asp-action="UserLogin">Index</a>
        <a asp-controller="Login" asp-action="About">About</a>
        <a asp-controller="UserHome" asp-action="UserHome">Game</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div>
        <p>@DateTime.Now.Year</p>
    </div>
</body>
</html>
