@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, AuthoringTagHelpers
    @inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

</head>
<body>
    <div>
        <a asp-controller="Login" asp-action="UserLogin">Index</a>
        <a asp-controller="Login" asp-action="About">About</a>
        <a asp-controller="UserHome" asp-action="UserHome">Game</a>
    </div>
    <div>
        @RenderBody()
        <environment names="PackmanEnv">
            @RenderSection("PackMan", required: false)
        </environment>
        @if (_env.EnvironmentName == "PackmanEnv" && IsSectionDefined("PackMan"))
        {
            IgnoreSection("PackMan");
        }
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div>
        <p>@DateTime.Now.Year</p>
    </div>
</body>
</html>
