@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-action="Logout">Sign Out</a>
    </li>
</ul>
@section PackmanJS {
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <link href="~/Styless/Style.css" rel="stylesheet" />
    <script src="~/JavaScript/PackMan.js"></script>
}
@*<h2>UserHome</h2>
    <h3>This is the user home page</h3>*@
    <div id="container">
        <div id="world"></div>

        <div id="pacman"></div>

        <div id="ghost"></div>

        <div id="score"></div>

        <div id="gameover"></div>
    </div>