
@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-action="Logout">Sign Out</a>
    </li>
</ul>
@section PackMan {
    <script src="~/JavaScript/PackMan.js"></script>
}
<h2>UserHome</h2>
<h3>This is the user home page</h3>
<div id="container"></div>
<div id="world"></div>

<div id="pacman"></div>

<div id="ghost"></div>

<div id="score"></div>

<div id="gameover"></div>
