
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About App</h2>
<div>
    <p>App was diveloped by Vitalii Chernyk.</p>
    <p>In 2018, during studying in .Net Camp IF</p>
</div>

